@model HtmxSandbox.Controllers.PostRequest

<hx-partial hx-target="#post-modal-body-outlet" hx-swap="innerMorph">
    @await Html.PartialAsync("_PostForm", Model)
</hx-partial>
<hx-partial hx-target="#post-modal-footer-outlet">
    <button class="btn btn-primary" data-bs-dismiss="modal"
            hx-post="@Url.Action("Create")"
            hx-include="#post-modal-body-outlet"
            hx-swap="afterbegin"
            hx-target="tbody">
        <i class="bi bi-plus-square"></i> Add
    </button>
</hx-partial>