@model DbPost

<hx-partial hx-target="#post-modal-body-outlet">
    <div class="alert alert-danger" role="alert">Are you sure you want to delete this?</div>
    @await Html.PartialAsync("_Details", Model)
</hx-partial>
<hx-partial hx-target="#post-modal-footer-outlet">
    <button class="btn btn-danger" data-bs-dismiss="modal"
            hx-delete="@Url.Action("Delete", new { Model.Id })"
            hx-on::after:request="document.getElementById('post-details@(Model.Id)')?.closest('tr')?.remove()"
            hx-swap="delete"
            hx-target="#post@(Model.Id)">
        <i class="bi bi-trash"></i> Delete
    </button>
</hx-partial>