@model HtmxSandbox.Controllers.PostRequest

<form>
    <input type="hidden" asp-for="Id"/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" asp-validation="Title" class="form-control"
               hx-trigger="keyup changed delay:500ms"
               hx-post="@Url.Action("Validate")"
               hx-include="closest form" @* Tells HTMX to send the entire form to Validate endpoint. *@/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" asp-validation="Content" class="form-control"
                      hx-trigger="keyup changed delay:500ms"
                      hx-post="@Url.Action("Validate")"
                      hx-include="closest form"
                      ></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" asp-validation="Author" class="form-control"
               hx-trigger="keyup changed delay:500ms"
               hx-post="@Url.Action("Validate")"
               hx-include="closest form"/>
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
</form>